.element__like {
    min-width: 22px;
    height: 19px;
    margin: 0 20px 0 10px;
    padding: 0;
    background-position: 0px 0px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background: url("../../../images/like.svg") no-repeat 100% 100%;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}