.header {
    width: 880px;
    padding: 0 0 41px 0;
    margin: 45px auto 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid hsla(0, 0%, 33%, 0.7);
}

@media screen and (max-width: 1024px) {
.header {
    width: 100%;
    margin-top: 45px;
    padding: 0 28px 28px 28px;
}
}

@media screen and (max-width: 320px) {
.header {
    margin-top: 28px;
}
}