.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 665px) {
.popup__close {
    width: 20px;
    height: 20px;
    top: -48px;
    right: 19px;
}
}

.popup__close:hover {
    opacity: 0.6;
}