.profile__info {
    height: 73px;
    margin: 20px 0 0 30px;
    padding: 0;
}

@media screen and (max-width: 720px) {
.profile__info {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
}
}